{% extends 'base.html' %}
{% block content_base %}
<!--Edit Page-->
<section class="editPage">
    <form method="post" action="{% url 'edit album' pk=album.pk%}">
        <fieldset>
            <legend>Editar Album</legend>
            <div class="container">
                {{ form.as_p }}
                {% csrf_token %}
                <!-- Button for Editing Album -->
                <button class="edit-album" type="submit">Editar Album</button>
            </div>
        </fieldset>
    </form>
</section>

{% endblock %}